/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: white;
  color: rgba(10, 10, 10, 1);
}

.header {
  /* background: rgba(175, 175, 175, .5); */
  height: 100px;
  padding: 4px;
  text-align: center;
  font-size: 16pt;
}

#homepage-header {
  background: rgba(175, 175, 175, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#level-1-bg {
  background: rgb(142, 247, 140);
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#level-2-bg {
  background: rgb(255, 169, 77);
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
#level-3-bg {
  background: rgb(227, 53, 53);
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#title {
  font-size: 40pt;
}

#start-game-btn {
  margin: 10px;
  position: relative;
}

#next-level-btn {
  display: none;
  margin: 10px;
  position: relative;
}

#retry-btn {
  display: none;
  margin: 10px;
  position: relative;
}

.countdown {
  margin: 12px 0px;
  position: relative;
}

main {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: left;
}

form {
  text-align: center;
  display: flex;
  justify-content: column;
  justify-content: center;
  /* justify-content: space-evenly; */
}

/* Button Styling */
/* Used '2c' button code from: https://tympanus.net/Development/CreativeButtons/ */

.btn {
  /* background: none; */
  background: rgb(130, 128, 128);
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px rgb(74, 74, 74);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 7px 0px;
  outline: none;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  width: 150px;
}

.btn:hover {
  color: rgba(255, 255, 255, .5);
  background: rgb(105, 105, 105);
  box-shadow: 0 6px rgb(90, 90, 90);
}

.btn:active {
  box-shadow: none;
  top: 4px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#begin {
  color: rgb(0, 0, 0);
  background: rgb(96, 240, 94);
  box-shadow: 0 6px rgb(75, 188, 73);
}

#begin:hover {
  color: rgb(255, 255, 255);
  background: rgb(64, 203, 62);
  box-shadow: 0 6px rgb(31, 143, 30);
}

/* #moderate {
  color: rgb(0, 0, 0);
  background: rgb(255, 169, 77);
  box-shadow: 0 6px rgb(210, 124, 32);
}

#moderate:hover {
  color: rgb(255, 255, 255);
  background: rgb(216, 142, 62);
  box-shadow: 0 6px rgb(184, 108, 26);
}

#hard {
  color: rgb(0, 0, 0);
  background: rgb(250, 83, 83);
  box-shadow: 0 6px rgb(223, 55, 55);
}

#hard:hover {
  color: rgb(255, 255, 255);
  background: rgb(201, 49, 49);
  box-shadow: 0 6px rgb(154, 28, 28);
} */

/* GRID */
.grid {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
}

/* LEVEL ONE CELLS */
.cell-1 {
  background: rgba(175, 175, 175, .5);
  border: solid black 4px;
  height: 165px;
  width: 165px;
  border-radius: 9px;
}

/* LEVEL TWO CELLS */
.cell-2 {
  border: solid black 3px;
  background: rgba(175, 175, 175, .5);
  height: 105px;
  width: 105px;
  border-radius: 9px;
}

/* LEVEL THREE CELLS */
.cell-3 {
  border: solid black 3px;
  background: rgba(175, 175, 175, .5);
  height: 125px;
  width: 125px;
  border-radius: 9px;
}

/* Color Change animation generated by Animista on 2018-5-9 16:18:54
 * w: http://animista.net, t: @cssanimista */

/* LEVEL ONE CELL ANIMATIONS */
.color-level-1 {
  -webkit-animation: color-level-1 6s steps(1, end) infinite;
  animation: color-level-1 6s steps(1, end) infinite;
}

@keyframes color-level-1 {
  0% {
    background: rgba(53, 178, 255, 0.852);
  }

  25% {
    background: rgba(255, 149, 35, 0.913);
  }

  50% {
    background: rgba(87, 72, 255, 0.913);
  }

  75% {
    background: rgba(234, 32, 153, 0.948);
  }
}

/* LEVEL TWO CELL ANIMATIONS */
.color-level-2 {
  -webkit-animation: color-level-2 7s steps(1, end) infinite;
  animation: color-level-2 7s steps(1, end) infinite;
}

@keyframes color-level-2 {
  0% {
    background: rgb(246, 255, 76);
  }

  20% {
    background: rgb(0, 208, 255);
  }

  40% {
    background: rgba(243, 79, 79, 0.91);
  }

  60% {
    background: rgba(105, 255, 135, 0.913);
  }

  80% {
    background: rgba(216, 150, 255, 0.79);
  }
}

/* LEVEL THREE CELL ANIMATIONS */
.color-level-3 {
  -webkit-animation: color-level-3 6s steps(1, end) infinite;
  animation: color-level-3 6s steps(1, end) infinite;
}

@keyframes color-level-3 {
  0% {
    background: rgba(255, 183, 76, 0.948);
  }

  20% {
    background: rgba(231, 108, 245, 0.955);
  }

  40% {
    background: rgb(23, 198, 29);
  }

  60% {
    background: rgba(243, 79, 79, 0.91);
  }

  80% {
    background: rgba(88, 187, 249, 0.968);
  }
}

/* LEVEL THREE SLIDE ANIMATIONS */
.slide-effect {
  -webkit-animation: slide-effect 8s linear infinite both;
  animation: slide-effect 8s linear infinite both;
}

@-webkit-keyframes slide-effect {
  /* 0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  } */

  20% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  40% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  80% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

}

.footer {
  /* background: rgba(175, 175, 175, .5); */
  height: 100px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

.display-message {
  position: relative;
  padding: 3px 0;
  margin-left: 10px;
}

.level-display {
  position: relative;
  padding: 3px 0;
}

/* Adjust styling for smaller screens */
@media screen and (max-width: 625px) {
  body {
    background-color: rgba(124, 157, 16, 0.5);
  }

  #title {
    font-size: 26pt;
  }

  .countdown {
    font-size: 12pt;
  }

  main {
    font-size: 10px;
    height: 320px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  /* LEVEL ONE GRID */
  .grid-1 {
    height: 300px;
    grid-gap: 10px;
    padding: 5px;
  }

  /* LEVEL ONE CELLS */
  .cell-1 {
    height: 105px;
    width: 105px;
  }

  /* LEVEL TWO GRID */
  .grid- {
    height: 270px;
    grid-gap: 10px;
    padding: 5px;
  }

  /* LEVEL TWO CELLS */
  .cell-2 {
    height: 80px;
    width: 80px;
  }

  /* LEVEL THREE GRID */
  .grid-3 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL THREE CELLS */
  .cell-3 {
    height: 65px;
    width: 65px;
  }
}

@media screen and (max-width: 350px) {
  main {
    height: 275px;
    font-size: 8px;
  }

  /* LEVEL ONE GRID */
  .grid-1 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL ONE CELLS */
  .cell-1 {
    height: 70px;
    width: 70px;
  }

  /* LEVEL TWO GRID */
  .grid-2 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL TWO CELLS */
  .cell-2 {
    height: 55px;
    width: 55px;
  }

  .display-message {
    font-size: 8px;
  }

  /* LEVEL THREE GRID */
  .grid-3 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL THREE CELLS */
  .cell-3 {
    height: 40px;
    width: 40px;
  }
}
