body {
    font-family: 'Press Start 2P', cursive;
    background: white;
    color: rgba(10, 10, 10, 1);
    margin: 10px;
}

header {
    background: rgba(175, 175, 175, .5);
    border-radius: 9px;
    border: 2px solid white;
    height: 84px;
    text-align: center;
    position: relative;
    font-size: 10px;
    padding: 4px;
}

.start-game {
    position: relative;
    margin: 10px;
}

h1 {
    position: relative;
}
#countdown {
    position: relative;
}

main {
    border-radius: 9px;
    height: 450px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

form {
    text-align: center;
}

.btn:hover {
    background: rgba(100, 100, 100, .5);
    color: rgba(220, 220, 220, 1);
}
/* LEVEL ONE GRID */
.grid-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    grid-gap: 15px;
    height: 400px;
    padding: 15px;
}
.cell-1 {
    border: solid black 3px;
    background: rgba(175, 175, 175, .5);
    height: 165px;
    width: 165px;
    border-radius: 9px;
}
/*LEVEL TWO GRID */
.grid-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    grid-gap: 45px;
    height: 400px;
    padding: 15px;
}
/* LEVEL TWO CELLS */
.cell-2 {
    border: solid black 3px;
    background: rgba(175, 175, 175, .5);
    height: 105px;
    width: 105px;
    border-radius: 9px;
}
/*LEVEL THREE GRID */
.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    grid-gap: 25px;
    height: 400px;
    padding: 15px;
}
/* LEVEL THREE CELLS */
.cell-3 {
    border: solid black 3px;
    background: rgba(175, 175, 175, .5);
    height: 85px;
    width: 85px;
    border-radius: 9px;
}

/* Color Change animation generated by Animista on 2018-5-9 16:18:54
 * w: http://animista.net, t: @cssanimista */

 /* LEVEL ONE CELL ANIMATIONS */
.color-level-1 {
	-webkit-animation: color-level-1 6s steps(2, end) infinite;
	animation: color-level-1 6s steps(2, end) infinite;
}

@keyframes color-level-1 {
  0% {
    background: rgba(255, 184, 76, 0.31);
  }
  50% {
    background: rgba(72, 255, 214, 0.79);
  }
  100% {
    background: rgba(216, 150, 255, 0.79);
  }
  /* 60% {
    background: rgba(100, 100, 100, 0.79);
  }
  80% {
    background: rgba(243, 79, 79, 0.91);
  }
  100% {
    background: rgba(255, 229, 102, 1);
  } */
}

/* LEVEL TWO CELL ANIMATIONS */
.color-level-2 {
	-webkit-animation: color-level-2 5s steps(1, end) infinite;
	animation: color-level-2 5s steps(1, end) infinite;
}

@keyframes color-level-2 {
  0% {
    background: rgba(255, 184, 76, 0.31);
  }
  25% {
    background: rgba(72, 255, 214, 0.79);
  }
  50% {
    background: rgba(216, 150, 255, 0.79);
  }
  75% {
    background: rgba(100, 100, 100, 0.79);
  }
  100% {
    background: rgba(243, 79, 79, 0.91);
  }
}

/* LEVEL THREE CELL ANIMATIONS */
.color-level-3 {
	-webkit-animation: color-level-3 6s infinite alternate-reverse both;
	        animation: color-level-3 6s infinite alternate-reverse both;
}

@keyframes color-level-3 {
0% {
    -webkit-transform: translateX(200);
    transform: translateX(200);
    background: rgba(255, 184, 76, 0.31);
  }
  33.3333367% {
    background: rgba(72, 255, 214, 0.79);
  }
  66.6666667% {
    background: rgba(216, 150, 255, 0.79);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    background: rgba(243, 79, 79, 0.91);
  }
}


/* Cells for Level Three animations */
/*
#cell0 {
}

#cell1 {
}

#cell2 {
}

#cell3 {

}
#cell4 {

}

#cell5 {

}

#cell6 {

}
#cell7 {

}

#cell8 {

} */

footer {
    background: rgba(175, 175, 175, .5);
    border-radius: 9px;
    border: 2px solid white;
    height: 70px;
    font-size: 14px;
    text-align: center;
    padding: 7px;
    position: relative;
}

.display-message {
    position: relative;
    padding: 3px 0;
}

.level-display {
    position: relative;
    padding: 3px 0;
}

/* Adjust styling for smaller screens */
@media screen and (max-width: 625px) {
    body {
        background-color: rgba(124, 157, 16, 0.5);
    }
    main {
        height: 320px;
    }
    /* LEVEL ONE GRID */
    .grid-1 {
        height: 300px;
        grid-gap: 10px;
        padding: 5px;
    }
    /* LEVEL ONE CELLS */
    .cell-1 {
        height: 105px;
        width: 105px;
    }

/* LEVEL TWO GRID */
    .grid-2 {
        height: 270px;
        grid-gap: 15px;
        padding: 5px;
    }
/* LEVEL TWO CELLS */
    .cell-2 {
        height: 80px;
        width: 80px;
    }
    /* LEVEL THREE GRID */
    .grid-3 {
        height: 250px;
        grid-gap: 5px;
        padding: 5px;
    }
    /* LEVEL THREE CELLS */
    .cell-3 {
        height: 65px;
        width: 65px;
    }
}

@media screen and (max-width: 350px) {
    main {
        height: 275px;
        font-size: 8px;
        }
    /* LEVEL ONE GRID */
    .grid-1 {
        height: 250px;
        grid-gap: 5px;
        padding: 5px;
    }
    /* LEVEL ONE CELLS */
    .cell-1 {
        height: 70px;
        width: 70px;
    }
    /* LEVEL TWO GRID */
    .grid-2 {
        height: 250px;
        grid-gap: 5px;
        padding: 5px;
    }
    /* LEVEL TWO CELLS */
    .cell-2 {
        height: 55px;
        width: 55px;
    }
    .display-message {
        font-size: 8px;
    }
        /* LEVEL THREE GRID */
    .grid-3 {
        height: 250px;
        grid-gap: 5px;
        padding: 5px;
    }
    /* LEVEL THREE CELLS */
    .cell-3 {
        height: 40px;
        width: 40px;
    }
}