/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background: white;
  color: rgba(10, 10, 10, 1);
  /* margin: 10px; */
}

.header {
  background: rgba(175, 175, 175, .5);
  font-size: 10px;
  height: 100px;
  padding: 4px;
  position: relative;
  text-align: center;
}

.start-game {
  margin: 10px;
  position: relative;
}

h1 {
  /* position: relative; */
}

#countdown {
  position: relative;
}

main {
  align-items: center;
  border-radius: 9px;
  display: flex;
  height: 450px;
  justify-content: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: left;
}

form {
  text-align: center;
}

/* Used '2c' button code from: https://tympanus.net/Development/CreativeButtons/ */

.btn {
  /* background: none; */
  background: rgb(130, 128, 128);
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px rgb(74, 74, 74);
  color: #fff;
  /* color: inherit; */
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  letter-spacing: 1px;
  /* margin: 10px; */
  font-weight: 700;
  outline: none;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background: rgba(100, 100, 100, .5);
  box-shadow: 0 4px rgb(96, 96, 96);
  color: rgba(220, 220, 220, 1);
  top: 2px;
}

.btn:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* LEVEL ONE GRID */
.grid-1 {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
}

.cell-1 {
  background: rgba(175, 175, 175, .5);
  border: solid black 3px;
  height: 165px;
  width: 165px;
  border-radius: 9px;
}

/*LEVEL TWO GRID */
.grid-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  grid-gap: 45px;
  height: 400px;
  padding: 15px;
}

/* LEVEL TWO CELLS */
.cell-2 {
  border: solid black 3px;
  background: rgba(175, 175, 175, .5);
  height: 105px;
  width: 105px;
  border-radius: 9px;
}

/*LEVEL THREE GRID */
.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  grid-gap: 25px;
  height: 400px;
  padding: 15px;
}

/* LEVEL THREE CELLS */
.cell-3 {
  border: solid black 3px;
  background: rgba(175, 175, 175, .5);
  height: 85px;
  width: 85px;
  border-radius: 9px;
}

/* Color Change animation generated by Animista on 2018-5-9 16:18:54
 * w: http://animista.net, t: @cssanimista */
/* LEVEL ONE CELL ANIMATIONS */
.color-level-1 {
  -webkit-animation: color-level-1 6s steps(2, end) infinite;
  animation: color-level-1 6s steps(2, end) infinite;
}

@keyframes color-level-1 {
  0% {
    background: rgba(255, 184, 76, 0.31);
  }

  50% {
    background: rgba(72, 255, 214, 0.79);
  }

  100% {
    background: rgba(216, 150, 255, 0.79);
  }

  /* 60% {
    background: rgba(100, 100, 100, 0.79);
  }
  80% {
    background: rgba(243, 79, 79, 0.91);
  }
  100% {
    background: rgba(255, 229, 102, 1);
  } */
}

/* LEVEL TWO CELL ANIMATIONS */
.color-level-2 {
  -webkit-animation: color-level-2 5s steps(1, end) infinite;
  animation: color-level-2 5s steps(1, end) infinite;
}

@keyframes color-level-2 {
  0% {
    background: rgba(255, 184, 76, 0.31);
  }

  25% {
    background: rgba(72, 255, 214, 0.79);
  }

  50% {
    background: rgba(216, 150, 255, 0.79);
  }

  75% {
    background: rgba(100, 100, 100, 0.79);
  }

  100% {
    background: rgba(243, 79, 79, 0.91);
  }
}

/* LEVEL THREE CELL ANIMATIONS */
.color-level-3 {
  -webkit-animation: color-level-3 6s infinite alternate-reverse both;
  animation: color-level-3 6s infinite alternate-reverse both;
}

@keyframes color-level-3 {
  0% {
    -webkit-transform: translateX(200);
    transform: translateX(200);
    background: rgba(255, 184, 76, 0.31);
  }

  33.3333367% {
    background: rgba(72, 255, 214, 0.79);
  }

  66.6666667% {
    background: rgba(216, 150, 255, 0.79);
  }

  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    background: rgba(243, 79, 79, 0.91);
  }
}

/* Cells for Level Three animations */
/*
#cell0 {
}

#cell1 {
}

#cell2 {
}

#cell3 {

}
#cell4 {

}

#cell5 {

}

#cell6 {

}
#cell7 {

}

#cell8 {

} */

.footer {
  background: rgba(175, 175, 175, .5);
  font-size: 10px;
  height: 100px;
  padding: 4px;
  position: relative;
  text-align: center;
}

.display-message {
  position: relative;
  padding: 3px 0;
}

.level-display {
  position: relative;
  padding: 3px 0;
}

/* Adjust styling for smaller screens */
@media screen and (max-width: 625px) {
  body {
    background-color: rgba(124, 157, 16, 0.5);
  }

  main {
    height: 320px;
  }

  /* LEVEL ONE GRID */
  .grid-1 {
    height: 300px;
    grid-gap: 10px;
    padding: 5px;
  }

  /* LEVEL ONE CELLS */
  .cell-1 {
    height: 105px;
    width: 105px;
  }

  /* LEVEL TWO GRID */
  .grid-2 {
    height: 270px;
    grid-gap: 15px;
    padding: 5px;
  }

  /* LEVEL TWO CELLS */
  .cell-2 {
    height: 80px;
    width: 80px;
  }

  /* LEVEL THREE GRID */
  .grid-3 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL THREE CELLS */
  .cell-3 {
    height: 65px;
    width: 65px;
  }
}

@media screen and (max-width: 350px) {
  main {
    height: 275px;
    font-size: 8px;
  }

  /* LEVEL ONE GRID */
  .grid-1 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL ONE CELLS */
  .cell-1 {
    height: 70px;
    width: 70px;
  }

  /* LEVEL TWO GRID */
  .grid-2 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL TWO CELLS */
  .cell-2 {
    height: 55px;
    width: 55px;
  }

  .display-message {
    font-size: 8px;
  }

  /* LEVEL THREE GRID */
  .grid-3 {
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
  }

  /* LEVEL THREE CELLS */
  .cell-3 {
    height: 40px;
    width: 40px;
  }
}
